<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="content"></div>

<%= link_to "sign out", "delete", class: 'sign-out' %>

<i class="menu-icon"></i>

<%= react_router 'routes', 'HistoryLocation' %>
