<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="content"></div>

<i class="menu-icon"></i>
<div class="nav-menu" style="display: none">
  <ul class="menu-items">
    <div>
      <a href='/new' class='new-pack-link'>New Pack</a>
      <a href='/' class='packs-list-link'>Packs List</a>
      <%= link_to "sign out", "delete", class: 'sign-out' %>
    </div>  
  </ul>
</div>

<%= react_router 'routes', 'HistoryLocation' %>
